<!DOCTYPE html>
<html
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= appname %></title>

  <link rel="stylesheet" type="text/css" href="/styles/main.css">

  <% if (enableTests) { %>
  <!-- @if NODE_ENV='testing' !>
  <link rel="stylesheet" href="/node_modules/mocha/mocha.css" type="text/css" charset="utf-8" />
  <!-- @endif -->
  <% } %>
</head>
<body>
  <div id="main"></div>

  <script src="/scripts/main.js"></script>

  <% if (enableTests) { %>
  <!-- @if NODE_ENV='testing' !>
  <div id="mocha"></div>

  <script src="/node_modules/mocha/mocha.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    mocha.setup('bdd');
  </script>

  <script src="/scripts/test.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript" charset="utf-8">
    if (navigator.userAgent.indexOf('PhantomJS') < 0) {
      mocha.run();
    }
  </script>
  <!-- @endif -->
  <% } %>
</body>
</html>
